* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #0f1111;
    overflow: hidden;
    height: 1080px;
    width: 1920px;
}

    .header-start-info {
        background-image: url('./assets/header/background.svg');
        height: 100vh;
        padding: 0 370px;
        width: 100%;
    }

    .header-container{
        display: flex;
        padding-top: 16px;
        align-items: center;
    }

    .header-logo{
        margin-right: 200px;
    }

    ul.navbar-list{
        display: flex;
    }

    .navbar-list-container ul li{
        padding: 14px 12px;
        list-style-type: none;

    }

    .navbar-list-container ul li a{
        text-decoration: none;
        color: #ffffff;
        font-family: "Nunito Sans", sans-serif;
        font-size: 18px;
    }

    .consult-container{
        height: 100%;
        margin-left: 49px;
    }
    .consult-container button{
        height: 100%;
        width: 100%;
        padding: 12px 24px;
        background-color: #1A3E3E;
        border: none;
        color: #ffffff;
        font-family: "Nunito Sans", sans-serif;
        font-size: 16px;


    }




