* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color: #0f1111;
    overflow: hidden;
    height: 1080px;
    width: 1920px;
}

    .header-start-info {
        background-image: url('./assets/header/background.svg');
        height: 100vh;
        padding: 0 370px;
        width: 100%;
    }

    .header-container{
        display: flex;
    }

    .header-logo{
        padding-top: 16px;
        margin-right: 200px;
    }

    .navbar-list-container ul li{
        padding: 23px 12px;
        list-style-type: none;

    }

    .navbar-list-container ul li a{
        text-decoration: none;
        color: #ffffff;
        font-family: "Nunito Sans", sans-serif;
    }

    ul.navbar-list{
        display: flex;
    }


